common --enable_bzlmod

build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23
build --cxxopt=-march=haswell
build --host_cxxopt=-march=haswell
build --cxxopt=-mavx2
build --host_cxxopt=-mavx2
build --cxxopt=-mfma
build --host_cxxopt=-mfma
build --action_env=CC
build --action_env=CXX
build --action_env=PATH

build:release -c opt
build:release --cxxopt=-O3
build:release --cxxopt=-march=haswell
build:release --cxxopt=-mtune=haswell
build:release --cxxopt=-mavx2
build:release --cxxopt=-mfma
build:release --cxxopt=-flto
build:release --cxxopt=-fno-exceptions
build:release --cxxopt=-fno-rtti
build:release --cxxopt=-DNDEBUG
build:release --cxxopt=-funroll-loops
build:release --cxxopt=-fno-math-errno
build:release --linkopt=-flto
build:release --linkopt=-s
build:release --linkopt=-static

build:profile -c opt
build:profile --cxxopt=-O2
build:profile --cxxopt=-march=haswell
build:profile --cxxopt=-g
build:profile --cxxopt=-fno-omit-frame-pointer
build:profile --linkopt=-g

test --test_output=errors
