global
    maxconn 8192
    nbthread 1
    no log
    tune.bufsize 4096
    tune.maxrewrite 0

defaults
    mode tcp
    timeout connect 100ms
    timeout client  500ms
    timeout server  500ms
    option tcp-smart-accept
    option tcpka
    option dontlognull
    no log

frontend rinha
    bind :9999
    maxconn 8192
    default_backend apis

backend apis
    balance static-rr
    server api1 unix@/var/run/rinha/api1.sock
    server api2 unix@/var/run/rinha/api2.sock
