global
    maxconn 4096
    nbthread 1
    no log
    tune.bufsize 4096
    tune.maxrewrite 0
    tune.recv_enough 1

defaults
    mode tcp
    timeout connect 200ms
    timeout client  10s
    timeout server  10s
    option tcp-smart-accept
    option tcp-smart-connect
    option tcpka
    option splice-auto
    option dontlognull
    no log

frontend rinha
    bind :9999
    maxconn 4096
    default_backend apis

backend apis
    balance static-rr
    server api1 unix@/var/run/rinha/api1.sock
    server api2 unix@/var/run/rinha/api2.sock
